doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/main/styles.min.css")
        link(rel="stylesheet", href="/products/styles.min.css")
        title #{docTitle}
    body 
        header.main-header 
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") Home 
                    li.main-header__item
                        a(href="/admin/add-product") Add Product     
        main 
            if products.length > 0
                .grid
                    each product in products
                        article.card.product-item
                            header.card__header
                              h1.product__title #{product.title}
                            div.card__image
                              img(src="https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-books-illustration_23-2149341898.jpg", alt="A Book")
                            div.card__content
                              h2.product__price $19.99
                              p.product__description Just a book
                            div.card__actions
                              button.btn Add to Cart   
            else 
                h1 No Products                                    